{% for message in flashSuccess %}
  <div class="alert alert-succes">{{ message }}</div>
{% endfor %}

{% for message in flashError %}
  <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
